<!-- app-navbar -->
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <app-navbar-fixed></app-navbar-fixed>
</nav>









<!-- <body class="hidden-sn mdb-skin">    
    Double navigation
    <header>
        <div>
            <app-side-bar-left></app-side-bar-left>
        </div>
        <div>
            <app-navbar-fixed></app-navbar-fixed>
        </div>
    </header>
</body> -->




<!-- <div>
    
    <div>
        <app-navbar-fixed></app-navbar-fixed>
    </div>
    <div>
        <app-side-bar-right></app-side-bar-right>
    </div>
    <div></div>
    <div></div>
    <div></div>
    
</div> -->
