<br>
<br>

<div class="container">
    <div class="row">
        <h3>Politica de Confidentialitate</h3>
    </div>
</div>

<div class="container">
    <nav aria-label="breadcrumb" style="padding: 10px; margin: auto;">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a class="" aria-current="page" routerLink="/home" href="#" style="text-decoration: none;">
                    <i class="menu-item-icon fas fa-globe-europe" style="padding-right: 3px; text-decoration: none;"
                        aria-hidden="true">
                    </i>
                    Home
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Politica de Confidentialitate
            </li>
        </ol>
    </nav>
</div>


<!-- Datele fiscale -->
<app-menu-social-and-fiscal-information></app-menu-social-and-fiscal-information>

<div class="container">
    <br>
    <h3 style="text-align: center;">
        Politica de Confidentialitate
    </h3>
    <br>

    <div class="accordion" id="accordionExample">

        <div class="accordion-item">
            <h2 class="accordion-header" id="heading1">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1"
                    aria-expanded="true" aria-controls="collapse1">
                    Colectarea datelor personale
                </button>
            </h2>
            <div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="heading1"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul>
                        <br>
                        <li>
                            Operatorul care colecteaza datele personale ale utilizatorilor se regaseste in sectiunea
                            Contact a site-ului.
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="heading3">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                    Aria de acoperire a securitatii datelor cu caracter personal si a politicii “cookie”
                </button>
            </h2>
            <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul>
                        <br>
                        <li>
                            Acordul de confidentialitate privind politica securitatii datelor personale acopera modul in
                            care sunt prelucrate datele
                            cu caracter personal, care va pot identifica atunci cand utilizati site-ul agentiei;
                        </li>
                        <br>
                        <li>
                            Cele de mai sus au in vedere si datele persoanelor juridice care utilizeaza site-ul
                            agentiei;
                        </li>
                        <br>
                        <li>
                            Acest acord de confidentialitate furnizeaza informatii referitoare la “cookie”, utilizarea
                            lor de catre terti si model
                            de dezactivare.
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="heading4">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                    Informatii generale colectate
                </button>
            </h2>
            <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul>
                        <br>
                        <li>
                            In momentul inregistrarii pe site-ul agentiei, prin crearea unui cont, prin accesarea,
                            rezervarea si comandarea
                            diferitelor servicii si produse ale agentiei, ori prin activarea unor materiale promotionale
                            sau publicitare, agentia va
                            prelucra informatii cu caracter personal, de natura sa identifice o anumita persoana;
                        </li>
                        <br>
                        <li>
                            In anumite zone ale site-ului, utilizatorului i se va cere sa furnizeze date personale
                            (nume, prenume, adresa, adresa
                            email, telefon, informatii de contact, informatii in vederea facturarii si alte informatii
                            necesare identificarii);
                        </li>
                        <br>
                        <li>
                            In alte zone ale site-ului, agentia colecteaza sau poate colecta informatii demografice care
                            nu va pot identifica: codul
                            postal, varsta, sexul, interese personale, etc;
                        </li>
                        <br>
                        <li>
                            Crearea unui cont pe site-ul agentiei si abonarea la serviciile noastre faciliteaza accesul
                            agentiei la datele dvs. cu
                            caracter personal. Agentia primeste si inregistreaza pe serverele sale, informatii
                            referitoare la adresa IP si
                            informatiile cookie a site-ului solicitat de dvs.;
                        </li>
                        <br>
                        <li>
                            Agentia utilizeaza informatia stocata, cu scopul de a facilita accesul la site, de a
                            imbunatati anumite produse si
                            servicii si pentru a va informa despre ultimele produse si servicii de care sunteti
                            interesat;
                        </li>
                        <br>
                        <li>
                            Utilizatorii care au facut rezervari pe site-ul agentiei sau si-au creat un cont pe site si
                            nu mai doresc sa primeasca
                            informatii pe adresa de email sau telefonic, trebuie sa se dezaboneze printr-un email trimis
                            la agentie;
                        </li>
                        <br>
                        <li>
                            Utilizatorii abonati la Newsletter se pot dezabona direct din ultimul Newsletter primit.
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="heading5">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                    Afisarea datelor personale in spatiile/ domeniile publice ale agentiei
                </button>
            </h2>
            <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul>
                        <br>
                        <li>
                            Informatiile cu caracter personal postate de catre utilizator in spatiile/ domeniile publice
                            apartinand agentiei, cum ar
                            fi forum-uri, chat-uri, blog-uri, pot fi copiate si stocate de catre terti asupra carora
                            agentia nu are niciun control
                            si ca atare, nicio responsabilitate.
                        </li>
                    </ul>

                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="heading7">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                    Colectarea si utilizarea datelor cu caracter personal
                </button>
            </h2>
            <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul>
                        <br>
                        <li>
                            Agentia utilizeaza informatiile stranse de pe site, indiferent daca sunt date personale,
                            demografice, colective sau
                            tehnice, in scopul de a va furniza serviciile turistice, pentru a administra inregistrarea
                            conturilor utilizatorilor,
                            pentru a solutiona intrebari, pentru a imbunatati site-ul si pentru a consulta utilizatorii
                            in vederea cresterii
                            calitatii produselor si serviciilor;
                        </li>
                        <br>
                        <li>
                            La inregistrarea in cont, utilizatorul si-a dat acordul asupra utilizarii datelor cu
                            caracter personal;
                        </li>
                        <br>
                        <li>
                            Utilizarea datelor cu caracter personal de catre agentie este in conformitate cu
                            reglementarile legale in vigoare, in
                            legatura cu protectia persoanelor cu privire la prelucrarea datelor cu caracter personal si
                            libera circulatie a acestor
                            date;
                        </li>
                        <br>
                        <li>
                            Agentia si partile terte (inclusiv Google) afiseaza anunturile agentiei pe paginile web
                            vizitate. Furnizorii terta parte
                            (inclusiv Google) utilizeaza module cookie pentru a difuza anunturi pe baza vizitelor
                            anterioare ale unui utilizator pe
                            site-ul agentiei.
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="heading8">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                    Prelucrarea datelor cu caracter personal
                </button>
            </h2>
            <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="heading8"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <!-- <strong>2. Durata contractului</strong> -->
                    <ul>
                        <br>
                        <li>
                            Utilizatorii sie-ului au garantate drepturile, in conformitate cu legea nr 677/2001, privind
                            protectia persoanelor cu
                            privire la prelucrarea datelor cu caracter personal si libera circulatie a acestor date, in
                            special drepturile persoanei
                            vizate cu privire la informare, la accesul la date, dreptul de interventie, de opozitie, de
                            a se adresa instantei
                            competente si de plangere catre autoritatea de supraveghere;
                        </li>
                        <br>
                        <li>
                            Principalele drepturi apartinand persoanelor vizate, in intelesul legii nr 677/ 2001, au
                            urmatorul continut:
                            <ul>
                                <br>
                                <li>
                                    Dreptul de acces la date: orice persoana vizata are dreptul de a obtine de la
                                    operator, la cerere si in mod gratuit,
                                    pentru o solicitare pe an, confirmarea faptului ca datele care o privesc sunt sau nu
                                    sunt prelucrate de catre acesta;
                                </li>
                                <br>
                                <li>
                                    Dreptul de interventie asupra datelor: orice persoana vizata are dreptul de a obtine
                                    de la operator, la cerere si in mod
                                    gratuit, dupa caz, rectificarea, actualizarea, blocarea sau stergerea datelor a
                                    caror prelucrare nu este conforma legii,
                                    mai ales a datelor incomplete sau inexacte.
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="heading9">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                    Dezvaluirea si transmiterea informatiilor cu caracter personal
                </button>
            </h2>
            <div id="collapse9" class="accordion-collapse collapse" aria-labelledby="heading9"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul>
                        <br>
                        <li>
                            Agentia nu va transmite catre terte parti informatiile dvs. cu caracter personal. Totusi,
                            aceste date pot fi transmise
                            catre terti, numai in urmatoarele cazuri:
                            <ul>
                                <br>
                                <li>
                                    Cu acordul utilizatorului;
                                </li>
                                <br>
                                <li>
                                    Daca este necesara transmiterea unor informatii in vederea furnizarii produselor si
                                    serviciilor de catre utilizator.
                                    Aceste companii pot folosi datele respective doar in masura in care este necesara
                                    asistenta lor;
                                </li>
                                <br>
                                <li>
                                    Datele cu caracter personal se pot transmite autoritatilor sau institutiilor
                                    publice, conform prevederilor legale numai
                                    daca:
                                    <ol>
                                        <br>
                                        <li>
                                            Este prevazut intr-o dispozitie legala;
                                        </li>
                                        <br>
                                        <li>
                                            Protejeaza drepturile agentiei;
                                        </li>
                                        <br>
                                        <li>
                                            Previne o infractiune sau protejeaza siguranta nationala;
                                        </li>
                                        <br>
                                        <li>
                                            Protejeaza siguranta individului sau siguranta publica;
                                        </li>
                                        <br>
                                        <li>
                                            Daca datele sunt necesare in vederea rezolvarii diferitelor situatii.
                                        </li>
                                    </ol>
                                </li>
                            </ul>
                        </li>
                        <br>
                        <li>
                            In cazul in care activitatile utilizatorului contravin termenilor si conditiilor statuate de
                            agentie;
                        </li>
                        <br>
                        <li>
                            In cazul in care agentia fuzioneaza sau e achizitionata total sau partial de o alta
                            companie;
                        </li>
                        <br>
                        <li>
                            In cazul in care agentia devine insolvabila voluntar sau involuntar, prin lichidatorul,
                            administratorul sau
                            cumparatorul, baza de date poate fi vanduta, autorizata, tranzactionata doar cu acordul
                            instantei.
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="heading10">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                    Securitatea datelor
                </button>
            </h2>
            <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="heading10"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul>
                        <br>
                        <li>
                            Pentru confidentialitatea si securitatea datelor, contul utilizatorului este protejat de o
                            parola;
                        </li>
                        <br>
                        <li>
                            Utilizatorul are dreptul sa fie notificat privind incalcarea securitatii datelor cu caracter
                            personal;
                        </li>
                        <br>
                        <li>
                            Agentia isi asuma sa implementeze masuri tehnice si organizatorice pentru a asigura
                            securitatea datelor personale, sa se
                            asigure ca masurile sunt adecvate, cu un nivel de securitate corespunzator riscului, eficace
                            din punct de vedere al
                            confidentialitatii, integritatii, disponibilitatii si rezistentei continue ale sistemelor si
                            serviciilor de prelucrare.
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="heading11">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                    Cookies
                </button>
            </h2>
            <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="heading11"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul>
                        <br>
                        <li>
                            Pentru a avea o navigare cat mai fluida pe site-ul agentiei, noi folosim o facilitate a
                            browser-ului internet numita
                            cookie, adica niste fisiere de dimensiuni reduse, pe care browser-ul le plaseaza pe hard
                            disk-ul utilizatorului;
                        </li>
                        <br>
                        <li>
                            Aceste cookies sunt folosite pentru a memora numele utilizatorilor, parolele si preferintele
                            acestora, pentru a
                            monitoriza navigarea pe site si pentru a personaliza paginile in functie de vizitator/
                            utilizator;
                        </li>
                        <br>
                        <li>
                            Aveti optiunea de a seta browser-ul astfel incat sa respinga cookies, caz in care va exista
                            un impact negativ asupra
                            navigarii pe site-ul agentiei.
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="heading12">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                    Modificari ale politicii de confidentialitate
                </button>
            </h2>
            <div id="collapse12" class="accordion-collapse collapse" aria-labelledby="heading12"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul>
                        <br>
                        <li>
                            Daca agentia considera ca se impune o schimbare a regulilor de confidentialitate, agentia va
                            publica pe site
                            respectivele modificari, in aceasta pagina, pentru a informa utilizatorii despre tipurile de
                            informatii pe care agentia
                            le colecteaza si utilizeaza;
                        </li>
                        <br>
                        <li>
                            Daca utilizatorii au intrebari cu privire la politica de confidentialitate, sunt rugati sa
                            ne scrie pe email.
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <br>
    <br>
    <br>

</div>