<!-- <div class="container">
    <div class="row" style="align-self: center;">
        <div class="col" style="align-self: center;">
            <app-contact-form></app-contact-form>
        </div>
        <div class="col" style="align-self: center;">
            <app-ask-something-info></app-ask-something-info>
        </div>
    </div>
</div> -->

<div class="container">
    <br>
    <br>
    <div class="row row-cols-1 row-cols-md-2 g-4">
    
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <app-contact-form></app-contact-form>
                </div>
    
            </div>
        </div>
    
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <app-ask-something-info></app-ask-something-info>
                </div>
    
            </div>
        </div>
    
    </div>
    <br>
    <br>
</div>
