<br>
<br>

<div class="container">
    <div class="row">
        <h3>Termeni si Conditii de utilizare website</h3>
    </div>
</div>

<div class="container">
    <nav aria-label="breadcrumb" style="padding: 10px; margin: auto;">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a class="" aria-current="page" routerLink="/home" href="#" style="text-decoration: none;">
                    <i class="menu-item-icon fas fa-globe-europe" style="padding-right: 3px; text-decoration: none;"
                        aria-hidden="true">
                    </i>
                    Home
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Termeni si Conditii de utilizare website
            </li>
        </ol>
    </nav>
</div>


<!-- Datele fiscale -->
<!-- app-social-and-fiscal-information -->
<app-social-and-fiscal-information></app-social-and-fiscal-information>


<div class="container">
    <br>
    <h3 style="text-align: center;">
        Termeni si Conditii de utilizare website
    </h3>
    <br>

    <div class="accordion" id="accordionExample">

        <div class="accordion-item">
            <h2 class="accordion-header" id="heading1">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1"
                    aria-expanded="true" aria-controls="collapse1">
                    Generalitati
                </button>
            </h2>
            <div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="heading1"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul>
                        <li>
                            Acest document se refera la conditiile in care poate fi utilizat site-ul.
                        </li>
                        <br>
                        <li>
                            Accesand sau utilizand site-ul, sunteti de acord cu termenii si conditiile de mai jos.
                        </li>
                        <br>
                        <li>
                            Acest site este detinut si administrat de catre agentie.
                        </li>
                        <br>
                        <li>
                            Toate datele de identificare si de contact ale agentiei se gasesc in pagina de 
                            <a class="" routerLink="/contact" routerLinkActive="contact" style="text-decoration: none;">
                                Contact
                            </a>
                            .
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="heading3">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                    Drepturile utilizatorului
                </button>
            </h2>
            <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Utilizatorul are dreptul sa vizualizeze site-ul pe monitorul calculatorului, 
                    pe telefonul mobil sau tableta, sa tipareasca parti ale continutului site-ului pe suport de hartie 
                    sau electronic, numai in scopuri personale, non-comerciale.
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="heading4">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                    Obligatiile utilizatorului
                </button>
            </h2>
            <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>Utilizatorul este de acord sa respecte urmatoarele obligatii incluzand (fara a se limita):</strong>
                    <br>
                    <ul>
                        <br>
                        <li>
                            Sa fie de acord cu termenii si conditiile agentie inainte de a lansa o rezervare pe site;
                        </li>
                        <br>
                        <li>
                            Sa aiba responsabilitatea financiara pentru orice tranzactie efectuata in contul sau in numele acestuia;
                        </li>
                        <br>
                        <li>
                            Sa aiba capacitatea legala de a initia actiuni juridice (varsta peste 18 ani);
                        </li>
                        <br>
                        <li>
                            Sa garanteze veridicitatea datelor furnizate despre acesta sau despre membrii familiei acestuia;
                        </li>
                        <br>
                        <li>
                            Sa nu utilizeze site-ul in scopuri speculative, sa nu genereze rezervari false sau frauduloase;
                        </li>
                        <br>
                        <li>
                            Sa nu transmita materiale politice, pornografice, rasiste sau care contravin legii;
                        </li>
                        <br>
                        <li>
                            Sa nu altereze, copieze, transmita, distribuie, vanda, afiseze, licentieze sau reproduca continutul site-ului, cu
                            exceptia utilizarii in scop personal, noncomercial;
                        </li>
                        <br>
                        <li>
                            Sa nu foloseasca site-ul in scop comercial;
                        </li>
                        <br>
                        <li>
                            Sa nu inlature notificarea despre drepturile de autor si/sau marca inregistrata de pe copiile continutului;
                        </li>
                        <br>
                        <li>
                            Sa nu creeze baze de date sau manuale prin descarcarea pagina cu pagina a continutului site-ului.
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="heading5">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                    Conditii generale de rezervare si achizitionare de servicii pe site
                </button>
            </h2>
            <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul>
                        <br>
                        <li>
                            Orice rezervare efectuata pe site va fi considerata drept intentia utilizatorului de a achizitiona un anumit produs sau
                            serviciu turistic de la furnizori;
                        </li>
                        <br>
                        <li>
                            Daca cererea utilizatorului este acceptata, acesta va primi un email de confirmare de la agentie si va intra in vigoare
                            <a class="" [routerLink]="['/framework-contract']" href="#" style="text-decoration: none" target="_blank">
                                Contractul
                            </a>
                             cu turistul;
                        </li>
                        <br>
                        <li>
                            Toate serviciile turistice publicate pe site sunt in functie de disponibilitatea furnizorilor;
                        </li>
                        <br>
                        <li>
                            Termenii si conditiile furnizorului (incluzand regulile de transport al pasagerilor impus de liniile aeriene) se vor
                            aplica aditional Termenilor si Conditiilor acestui site;
                        </li>
                        <br>
                        <li>
                            Termenii furnizorilor pot include prevederi care se refera la diferite proceduri de plata, obligatii, anulari,
                            modificari ale rezervarilor, restituiri de bani (daca este cazul) sau restrictii de alta natura. Anumite companii
                            aeriene pot impune taxe suplimentare;
                        </li>
                        <br>
                        <li>
                            Agentia nu este responsabila pentru costurile care pot sa apara in momentul transferurilor de la un aeroport la altul
                            sau pentru taxele locale pe care le percep anumite hoteluri;
                        </li>
                        <br>
                        <li>
                            In momentul navigarii pe site, utilizatorul poate observa referiri la diferite conditii care se aplica ofertelor
                            speciale. Utilizatorul trebuie sa citeasca cu atentie acesti termeni si sa ia legatura cu agentia pentru detalii
                            complete;
                        </li>
                        <br>
                        <li>
                            Orice rezervare facuta de utilizator pe site se considera rezervare confirmata numai dupa ce agentia va confirma
                            rezervarea si va notifica utilizatorul;
                        </li>
                        <br>
                        <li>
                            Rezervarea confirmata de catre agentie, devine comanda ferma, numai dupa ce utilizatorul a efectuat plata integral.
                        </li>                        
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="heading6">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                    Anulari, Modificari
                </button>
            </h2>
            <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul>
                        <br>
                        <li>
                            Anularea/modificarea unei comenzi ferme se face in functie de termenii si conditiile fiecarui furnizor si este
                            responsabilitatea utilizatorului sa informeze agentia in scris cu confirmare de primire sau telefonic, despre intentiile
                            sale;
                        </li>
                        <br>
                        <li>
                            In anumite cazuri, este posibil sa nu puteti anula/modifica anumite servicii turistice achizitionate prin comanda ferma
                            sau va trebui sa indepliniti anumite cerinte pentru aceste actiuni;
                        </li>
                        <br>
                        <li>
                            Agentia sau furnizorul accepta orice forma de cerere scrisa;
                        </li>
                        <br>
                        <li>
                            In eventualitatea anularii unei comenzi ferme, utilizatorul va suporta, dupa caz, penalizarile specificate in termenii
                            si conditiile de la fiecare furnizor;
                        </li>
                        <br>
                        <li>
                            In eventualitatea modificarii unei comenzi ferme (incluzand, dar fara a se limita, anulari, restituiri de sume,
                            schimbari de nume), agentia isi rezerva dreptul de a aplica anumite taxe, pentru a acoperi costurile administrative
                            legate de aceasta actiune. Aceste taxe difera fata de taxele impuse direct de catre furnizor.
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="heading7">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                    Plata
                </button>
            </h2>
            <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul>
                        <br>
                        <li>
                            Utilizatorul primeste factura in urma confirmarii de catre agentie a rezervarii pe care acesta a facut-o pe site si
                            <a class="" [routerLink]="['/payment-methods']" href="#" style="text-decoration: none" target="_blank">
                                modalitatile de plata
                            </a>
                             ale acestei facturi. Aceste 
                            <a class="" [routerLink]="['/payment-methods']" href="#" style="text-decoration: none" target="_blank">
                                modalitati de plata
                            </a>
                             sunt specificate pe 
                            <a class="" [routerLink]="['/payment-methods']" href="#" style="text-decoration: none" target="_blank">
                                site
                            </a>;
                        </li>
                        <br>
                        <li>
                            Se accepta numai acele 
                            <a class="" [routerLink]="['/payment-methods']" href="#" style="text-decoration: none" target="_blank">
                                modalitati de plata
                            </a> care sunt prezentate pe 
                            <a class="" [routerLink]="['/payment-methods']" href="#" style="text-decoration: none" target="_blank">
                                site
                            </a>;
                        </li>
                        <br>
                        <li>
                            Rezervarea facuta de catre utilizator pe site este considerata comanda ferma numai dupa ce plata a fost efectuata de
                            catre acesta;
                        </li>
                        <br>
                        <li>
                            Agentia nu-si asuma nicio responsabilitate pentru sumele de bani trimise prin curierat;
                        </li>
                        <br>
                        <li>
                            In functie de termenii si conditiile impuse de hoteluri, la momentul rezervarii, utilizatorului i se poate cere plata
                            integrala sau partiala, plata urmand a fi efectuata in contul agentiei, al hotelului sau al reprezentantului acestuia;
                        </li>
                        <br>
                        <li>
                            Agentia sau furnizorul nu vor emite bilete, voucher sau alte documente de calatorie in cazul neplatii integrale a
                            serviciilor comandate;
                        </li>
                        <br>
                        <li>
                            Agentia sau furnizorul isi rezerva dreptul de a incasa suplimentar orice taxe/comisioane care pot aparea la momentul
                            rezervarilor, caz in care utilizatorul va fi informat despre comisioanele aplicabile;
                        </li>
                        <br>
                        <li>
                            Agentia isi rezerva dreptul de a transfera costurile generate de penalizarile de charge back;
                        </li>
                        <br>
                        <li>
                            In anumite cazuri exista taxe suplimentare ce trebuie achitate la destinatie direct la furnizorul serviciilor.
                        </li>
                    </ul>                    
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="heading8">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                    Plata cu cardul online
                </button>
            </h2>
            <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="heading8"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul>
                        <br>
                        <li>
                            Pentru anumite servicii, plata se poate efectua cu principalele carti de credit recunoscute si prezentate pe 
                            <a class="" [routerLink]="['/payment-methods']" href="#" style="text-decoration: none" target="_blank">
                                site
                            </a>;
                        </li>
                        <br>
                        <li>
                            Agentia isi rezerva dreptul de a incasa suplimentar orice taxe care pot sa apara la momentul rezervarii prin carte de
                            credit, caz in care utilizatorul va fi informat despre taxele sau comisioanele aplicabile;
                        </li>
                        <br>
                        <li>
                            Daca rezervarea a fost platita cu cartea de credit a unei alte persoane, agentia isi rezerva dreptul de a cere o
                            autorizatie scrisa din partea acelei persoane;
                        </li>
                        <br>
                        <li>
                            Daca in momentul rezervarii serviciului turistic alegeti optiunea de plata online cu cardul, utilizatorul va fi
                            redirectionat catre site-urile securizate ale procesatorilor de plati electronice;
                        </li>
                        <br>
                        <li>
                            Tranzactiile se vor efectua in lei sau euro, in conditiile agreate cu banca emitenta a cardului utilizatorului.
                        </li>                        
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="heading9">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse9"
                    aria-expanded="false" aria-controls="collapse9">
                    Plata cu cardul in agentie
                </button>
            </h2>
            <div id="collapse9" class="accordion-collapse collapse" aria-labelledby="heading9"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul>
                        <br>
                        <li>
                            In cazul in care utilizatorul nu doreste sa faca plata cu cardul online, acesta are posibilitatea sa achite cu cardul la
                            POS-urile care se gasesc in agentie;
                        </li>
                        <br>
                        <li>
                            Utilizatorul trebuie sa confirme cu agentia intentia de a plati cu cardul la POS pentru confirmare prealabila.
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="heading10">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse10"
                    aria-expanded="false" aria-controls="collapse10">
                    Transfer bancar / virament
                </button>
            </h2>
            <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="heading10"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul>
                        <br>
                        <li>
                            Daca utilizatorul alege aceasta optiune de plata, acesta va primi prin email o copie a facturii proforme sau fiscale, in
                            baza careia poate efectua plata;
                        </li>
                        <br>
                        <li>
                            Conturi bancare ale agentiei se vor gasi pe factura proforma sau fiscala.
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="heading11">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse11"
                    aria-expanded="false" aria-controls="collapse11">
                    Vouchere de vacanta / Tichete de vacanta
                </button>
            </h2>
            <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="heading11"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul>
                        <br>
                        <li>
                            Salariatii pot primi din partea angajatorului, vouchere de vacanta platite integral de catre angajator, pentru
                            petrecerea vacantelor in Romania;
                        </li>
                        <br>
                        <li>
                            Utilizatorul se va prezenta la agentie cu voucherele/ tichetele de vacanta pentru a achita rezervarea facuta pe site,
                            pentru un sejur in Romania;
                        </li>
                        <br>
                        <li>
                            Utilizatorul trebuie sa confirme cu agentia intentia de a plati cu voucher sau tichet de vacanta pentru confirmare
                            prealabila.
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="heading12">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse12"
                    aria-expanded="false" aria-controls="collapse12">
                    Cash
                </button>
            </h2>
            <div id="collapse12" class="accordion-collapse collapse" aria-labelledby="heading12"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul>
                        <br>
                        <li>
                            Utilizatorul poate plati in numerar orice rezervare confirmata la agentie, in Lei, Euro sau Dolar;
                        </li>
                        <br>
                        <li>
                            Pe baza facturii primite de la agentie, utilizatorul se poate prezenta la orice sucursala a bancii cu care lucreaza
                            agentia, pentru a depune banii in contul specificat pe factura.
                        </li>                        
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="heading13">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse13"
                    aria-expanded="false" aria-controls="collapse13">
                    Plata integrala
                </button>
            </h2>
            <div id="collapse13" class="accordion-collapse collapse" aria-labelledby="heading13"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul>
                        <br>
                        <li>
                            Disponibilitatile, tarifele si taxele pot fluctua si o rezervare poate fi oricand infirmata daca nu este achitata
                            integral.
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="heading14">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse14"
                    aria-expanded="false" aria-controls="collapse14">
                    Reclamatii
                </button>
            </h2>
            <div id="collapse14" class="accordion-collapse collapse" aria-labelledby="heading14"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul>
                        <br>
                        <li>
                            Orice reclamatie trebuie facuta in scris catre furnizorul serviciului turistic (unitate de cazare, companie aeriana,
                            etc), iar o copie trebuie sa ajunga la agentie, in maxim 2 zile de la incheierea sejurului
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="heading15">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse15"
                    aria-expanded="false" aria-controls="collapse15">
                    Clauze de neraspundere
                </button>
            </h2>
            <div id="collapse15" class="accordion-collapse collapse" aria-labelledby="heading15"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul>
                        <br>
                        <li>
                            Site-ul nostru are un continut informativ, de aceea, agentia nu-si asuma nicio responsabilitate cu privire la
                            corectitudinea si exactitatea informatiilor;
                        </li>
                        <br>
                        <li>
                            Agentia nu garanteaza in niciun fel, explicit sau implicit, realitatea, actualitatea si integralitatea datelor si
                            informatiilor prezentate pe site;
                        </li>
                        <br>
                        <li>
                            Datele si informatiile de pe acest site nu constituie recomandari, garantii, consultanta sau angajament din partea
                            agentiei;
                        </li>
                        <br>
                        <li>
                            Agentia nu poate fi facuta raspunzatoare fata de nicio persoana/entitate pentru niciun fel de daune care ar rezulta,
                            direct sau indirect, din utilizarea site-ului agentiei sau ca urmare a oricarei erori sau omisiuni;
                        </li>
                        <br>
                        <li>
                            Agentia actioneaza si ca agent pentru terti furnizori: linii aeriene, hoteluri, companii de rent-a-car sau alti
                            furnizori de servicii turistice, denumiti in in acest document furnizori;
                        </li>
                        <br>
                        <li>
                            Agentia nu-si asuma nicio responsabilitate pentru produsele si serviciile turistice oferite de furnizori si nu
                            garanteaza in niciun fel (explicit sau implicit) acuratetea sau calitatea produselor si serviciilor reflectate pe acest
                            site.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading16">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse16"
                    aria-expanded="false" aria-controls="collapse16">
                    Forta Majora sau Insolventa furnizorului de servicii turistice
                </button>
            </h2>
            <div id="collapse16" class="accordion-collapse collapse" aria-labelledby="heading16"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul>
                        <br>
                        <li>
                            Agentia nu este responsabila in cazul unor evenimente de forta majora sau in cazul in care furnizorul de servicii
                            turistice intra in insolventa;
                        </li>
                        <br>
                        <li>
                            Evenimentele de forta majora includ (dar fara a se limita): interventii guvernamentale, razboaie, rapiri, incendii,
                            inundatii, accidente, furtuni, greve, atacuri teroriste, care pot afecta agentia sau furnizorii sai.
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="heading17">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse17"
                    aria-expanded="false" aria-controls="collapse17">
                    Modificari in termenii si conditiile de utilizare
                </button>
            </h2>
            <div id="collapse17" class="accordion-collapse collapse" aria-labelledby="heading17"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul>
                        <br>
                        <li>
                            Agentia poate aduce modificari termenilor si conditiilor de utilizare fara a anunta acest lucru anterior;
                        </li>
                        <br>
                        <li>
                            Aceste reguli sunt in conformitate cu legislatia romana in vigoare. Incalcarea prevederilor acestui document constituie
                            o violare a drepturilor agentiei si poate atrage raspunderea civila, contraventionala sau penala, a persoanei in culpa;
                        </li>
                        <br>
                        <li>
                            Conflictele aparute in legatura cu termenii de utilizare a site-ului vor fi supuse spre solutionare instantelor
                            judecatoresti.
                        </li>
                        <br>
                        <li>
                            Acest site poate contine link-uri catre diverse site-uri. Accesand aceste site-uri, utilizatorul se afla implicit in
                            afara site-ului agentiei, avand obligatia de a respecta termenii si conditiile de utilizare ale noilor site-uri
                            accesate.
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <br>
    <br>
    <br>

</div>

