
<div class="container" style="align-items: center; align-content: center; align-self: center;">
    <div class="table table-responsive px-3 py-4" >
    
        <div class="table mb-0">
    
            <thead>
                <tr>
                    <th *ngFor="let itemHeader of itemHeaders; let i = index">
                        {{itemHeaders[i]}}
                    </th>
                </tr>
            </thead>
    
            <tbody>

                <tr *ngFor="let item of items; let i = index">

                    <td>{{item.id}}</td>

                    <td [routerLink]="['../view-one', item.id]"
                        style="color: blue;">
                        {{item.name}}
                    </td>

                    <td>{{item.description}}</td>

                    <td>{{item.status}}</td>

                </tr>

            </tbody>
    
        </div>
    
    </div>
</div>



