<div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
    
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Licenta de turism</h5>
                    <!-- <p class="card-text">This is text</p> -->
                </div>
                <a class="" aria-current="page" routerLink="/tourism-license" href="#" style="text-decoration: none;">
                    <img src="assets\lgt\images\accreditations\Licenta-724x1024.jpg" class="card-img-top"
                        alt="Licenta de turism">
                </a>
            </div>
        </div>
    
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Brevet de turism</h5>
                    <!-- <p class="card-text">This is text</p> -->
                </div>
                <a class="" aria-current="page" routerLink="/tourism-patent" href="#" style="text-decoration: none;">
                    <img src="assets\lgt\images\accreditations\brevet_LGT.jpg" class="card-img-top" alt="Brevet de turism">
                </a>
            </div>
        </div>
    
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Polita de asigurare</h5>
                    <!-- <p class="card-text">This is text</p> -->
                </div>
                <a class="" aria-current="page" routerLink="/insurance-policy" href="#" style="text-decoration: none;">
                    <img src="assets\lgt\images\accreditations\OMNIASIG-INSOLVENTA-54623-TRAVE-INSURANCE-LGT-SRL-POLITA-2020-1-page-001-1-725x1024.jpg"
                        class="card-img-top" alt="Polita de asigurare">
                </a>
            </div>
        </div>
    
    </div>
    
</div>