<div *ngIf="!item" class="mb-5">
    <p>
        No item selected or this item with this id doesn't exist.
    </p>
</div>

<div *ngIf="item">

    <div class="form-group">
        <label>{{itemHeaders[i+1]}}</label>
        <div class="form-control">{{item.id}}</div>
    </div>

    <div class="form-group">
        <label>{{itemHeaders[i+1]}}</label>
        <div class="form-control">{{item.name | uppercase}}</div>
    </div>

    <div class="form-group">
        <label>{{itemHeaders[i+1]}}</label>
        <div class="form-control">{{item.description}}</div>
    </div>

    <div class="form-group">
        <label>{{itemHeaders[i+1]}}</label>
        <div class="form-control">{{item.status}}</div>
    </div>

</div>