<!-- Datele fiscale -->
<!-- app-social-and-fiscal-information -->
<div class="container">
    <br>
    <div class="row row-cols-1 row-cols-md-3 g-4">

        <div class="col">
            <div class="card">
                <div class="card-body" style="text-decoration: none;">
                    Let's Go Travel
                    <br>
                    Punct de lucru / Sediu social:
                    <br>
                    Str. Serbanescu Alexandru Cpt. Av., nr. 2,
                    <br>
                    bloc 6/A, sc. 1, ap. 1,
                    <br>
                    Sector 1, Bucuresti, Romania
                    <br>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body">
                    Nr. Inreg. Reg. Comertului: J40/13349/2016
                    <br>
                    Licenta de turism: Nr. 843
                    <br>
                    Polita de asigurare: OMNIASIG, Nr. 50929,
                    <br>
                    valabila pana la data de 4.12.2020
                    <br>
                    C.U.I: RO36621742<br>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body">
                    Mobil: 0747.548.548
                    <br>
                    E-mail: contact@lgt.ro
                    <br>
                    Site: www.letsgotravel.ro
                    <br>Site: www.lgt.ro
                    <br>
                    Conturi bancare: RON / EURO
                </div>
            </div>
        </div>

    </div>
    <br>
</div>