<a class="fb-ic mr-4" role="button"
    href="https://www.google.ro/maps/place/Let's+Go+Travel+LGT.ro/@44.4816399,26.1007365,17.75z/data=!4m5!3m4!1s0x40b20264d153ffff:0xa795d86b37911227!8m2!3d44.4817986!4d26.1009262"
    style="text-decoration: none; text-decoration-color: darkgray; color: darkgray;" target="_blank">
    <i class="fa fa-map-marker" aria-hidden="true">
        <span style="text-decoration: none; text-decoration-color: darkgray; color: darkgray;
         padding-left: 3px;">
            <!-- Map -->
        </span>
    </i>
</a>