<!-- Footer Mobile -->
<footer class="page-footer font-small unique-color-dark navbar-dark bg-dark">

    <!-- <br style="line-height: 10px" /> -->
    <div class="container text-center text-md-left navbar-dark bg-dark pt-3"
    style="font-size: 1em;">
        <div class="row row-cols-sm-2 row-cols-2 row-cols-md-4">
            <div class="card  text-center text-md-left navbar-dark bg-dark">
                <div class="col">
                    <br>
                    <div class="col-row px4">
                        <small class="" style="text-decoration: none; text-decoration-color: darkgray; color: darkgray;">
                            Rezerva prin telefon</small>
                        <br>
                        <a class="" href="tel:+40747548548" style="text-decoration: none; line-height:200%;"
                            style="text-decoration: none; text-decoration-color: darkgray; color: darkgray;">
                            <i class="fas fa-phone pr-2"></i>
                            <span class=" " style="font-size: 1em;">0747.548.548</span>
                        </a>
                    </div>
                    <div class="col-row">
                        <hr class="deep-purple accent-2  mb-1 mt-1 d-inline-block mx-auto"
                            style="width: 60px;  text-align: center;">
                    </div>
                    <div class="col-row" style="text-decoration: none; text-decoration-color: darkgray; color: darkgray;">
                        <small>Disponbil: </small><small>10:00 - 20:00 hrs</small>
                    </div>
                    <br>
                </div>
            </div>
            <div class="card text-center text-md-left navbar-dark bg-dark">
                <div class="col">
                    <br>
                    <div class="col-row">
                        <small class="" style="text-decoration: none; text-decoration-color: darkgray; color: darkgray;">
                            Trimite-ne un e-mail</small>
                        <br>
                        <a class="" href="mailto:contact@lgt.ro" target="_blank" style="text-decoration: none; line-height:200%;"
                            style="text-decoration: none; text-decoration-color: darkgray; color: darkgray;">
                            <i class="fa fa-envelope pr-2"></i>
                            <span class=" " style="font-size: 1em;">contact@lgt.ro</span>
                        </a>
                    </div>
                    <div class="col-row">
                        <hr class="deep-purple accent-2  mb-1 mt-1 d-inline-block mx-auto"
                            style="width: 60px;  text-align: center;">
                    </div>
                    <div class="col-row" style="text-decoration: none; text-decoration-color: darkgray; color: darkgray;">
                        <small>Oferte Personalizate!</small>
                    </div>
                    <br>
                </div>
            </div>
            <div class="card text-center text-md-left navbar-dark bg-dark">
                <div class="col">
                    <br>
                    <div class="col-row">
                        <small class="" style="text-decoration: none; text-decoration-color: darkgray; color: darkgray;">
                            Consultanta</small>
                        <br>
                        <!-- class="pr-2" -->
                        <a href="https://wa.me/40747548548" target="_blank" style="text-decoration: none; line-height:200%;"
                            style="text-decoration: none; text-decoration-color: darkgray; color: darkgray;">
                            <i class="fab fa-whatsapp pr-2"></i>
                            <!-- <app-whatsapp-icon></app-whatsapp-icon> -->
                            
                            <span class=" " style="font-size: 1em;">Support Center</span>
                        </a>
                    </div>
                    <div class="col-row">
                        <hr class="deep-purple accent-2  mb-1 mt-1 d-inline-block mx-auto"
                            style="width: 60px;  text-align: center;">
                    </div>
                    <div class="col-row" style="text-decoration: none; text-decoration-color: darkgray; color: darkgray;">
                        <small>Ca totul sa fie clar</small>
                    </div>
                    <br>
                </div>
            </div>
            <div class="card text-center text-md-left navbar-dark bg-dark">
                <div class="col">
                    <br>
                    <div class="col-row">
                        <small class="" style="text-decoration: none; text-decoration-color: darkgray; color: darkgray;">
                            Partenerii Nostri</small>
                        <br>
                        <!-- class="pr-2" -->
                        <a href="tel:+40747548548" style="text-decoration: none; line-height:200%;"
                            style="text-decoration: none; text-decoration-color: darkgray; color: darkgray;">
                            <!-- <i class="fas fa-phone px-2"></i> -->
                            <span class=" " style="font-size: 1em;">500,000 Hoteluri</span>
                        </a>
                    </div>
                    <div class="col-row">
                        <hr class="deep-purple accent-2  mb-1 mt-1 d-inline-block mx-auto"
                            style="width: 60px;  text-align: center;">
                    </div>
                    <div class="col-row" style="text-decoration: none; text-decoration-color: darkgray; color: darkgray;">
                        <small>180 Turoperatori</small>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-copyright  container text-center navbar-dark bg-dark py-3" 
         style="font-size: 0.8em; -webkit-font-smoothing: antialiased;">
        <app-home-footer-thin></app-home-footer-thin>
        <span class="pr-2"></span><span class="vertical-line pr-2"></span>   
        <app-offers-footer-thin></app-offers-footer-thin>
        <span class="pr-2"></span><span class="vertical-line pr-2"></span>
        <app-about-us-footer-thin></app-about-us-footer-thin>
        <span class="pr-2"></span><span class="vertical-line pr-2"></span>
        <app-contact-footer-thin></app-contact-footer-thin>
        <span class="pr-2"></span><span class="vertical-line pr-2"></span>
        <app-terms-and-conditions-footer-thin></app-terms-and-conditions-footer-thin>
        <span class="pr-2"></span><span class="vertical-line pr-2"></span>
        <app-privacy-policy-footer-thin></app-privacy-policy-footer-thin>
        <br>
        <!-- <br> -->
    </div>

    <div class="footer-copyright  container text-center navbar-dark bg-dark pt-2 pb-1 pl-4"
        style="font-size: 0.8em; -webkit-font-smoothing: antialiased;">
        <app-icons-all-short-only-icons></app-icons-all-short-only-icons>
        <!-- <br> -->
    </div>

    <!-- NU STERGE -->
    <!-- <div class="footer-copyright  navbar-dark bg-dark">
        <div class="container text-center text-md-left navbar-dark bg-dark">
            <div class="row row-cols-sm-3 row-cols-2 row-cols-md-4">

                <div class="card   text-md-left navbar-dark bg-dark">
                    <div class="row justify-content-center">
                        <div class="col-11">
                            <div class="text-start">
                                <br>
                                <div>
                                    <br>
                                </div>
                                <div>
                                    <app-home-footer></app-home-footer>
                                </div>
                                <div>
                                    <app-offers-footer></app-offers-footer>
                                </div>
                                <div>
                                    <app-about-us-footer></app-about-us-footer>
                                </div>
                                <div>
                                    <app-contact-footer></app-contact-footer>
                                </div>
                                <div>
                                    <br>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card   text-md-left navbar-dark bg-dark">
                    <div class="row justify-content-center">
                        <div class="col-11">
                            <div class="text-start">
                                <div>
                                    <br>
                                    <div>
                                        <app-phone-icon-and-text></app-phone-icon-and-text>
                                    </div>
                                    <div>
                                        <app-email-icon-and-text></app-email-icon-and-text>
                                    </div>
                                    <div>
                                        <app-whatsapp-icon-and-text></app-whatsapp-icon-and-text>
                                    </div>
                                    <div>
                                        <app-facebook-icon-and-text></app-facebook-icon-and-text>
                                    </div>
                                    <div>
                                        <app-instagram-icon-and-text></app-instagram-icon-and-text>
                                    </div>
                                    <div>
                                        <app-map-icon-and-text></app-map-icon-and-text>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card   text-md-left navbar-dark bg-dark">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="text-start">
                                <div>
                                    <br>
                                    <div>
                                        <app-our-accreditations-footer></app-our-accreditations-footer>
                                    </div>
                                    <div>
                                        <app-tourism-license-footer></app-tourism-license-footer>
                                    </div>
                                    <div>
                                        <app-tourism-patent-footer></app-tourism-patent-footer>
                                    </div>
                                    <div>
                                        <app-insurance-policy-footer></app-insurance-policy-footer>
                                    </div>
                                    <div>
                                        <app-tax-registration-certificate-footer></app-tax-registration-certificate-footer>
                                    </div>
                                    <div>
                                        <app-social-and-fiscal-information-footer>
                                        </app-social-and-fiscal-information-footer>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card   text-md-left navbar-dark bg-dark">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="text-start">
                                <div>
                                    <br>
                                    <div>
                                        <app-reliable-company-footer></app-reliable-company-footer>
                                    </div>
                                    <div>
                                        <app-terms-and-conditions-footer></app-terms-and-conditions-footer>
                                    </div>
                                    <div>
                                        <app-framework-contract-footer></app-framework-contract-footer>
                                    </div>
                                    <div>
                                        <app-privacy-policy-footer></app-privacy-policy-footer>
                                    </div>
                                    <div>
                                        <app-payment-methods-footer></app-payment-methods-footer>
                                    </div>
                                    <div>
                                        <app-contact-footer></app-contact-footer>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div> -->
    <!-- NU STERGE -->
  

    <div class="container text-center text-md-left pt-3 pb-2 pl-1"
        style="font-size: 0.8em; text-decoration: none; text-decoration-color: darkgray; color: darkgray;">
        <p>
            © 2016-'20 - by Travel & Insurance LGT
        </p>
    </div>

</footer>