<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Fifth navbar example">
    <!-- <div class="container-fluid"> -->
    <div class="container">

        <div *ngIf="!isMobile"
        class="col-xs-offset-8" style="align-content: center; padding-right: 10px; padding-left: 10px;"
            >
            <!-- data-bs-toggle="collapse" data-bs-target="#navbarsExample05" aria-controls="navbarsExample05"
            aria-expanded="ariaExpanded" aria-label="Toggle navigation" -->
            <app-logo-small></app-logo-small>
        </div>

        <div  *ngIf="isMobile"
        class="col-xs-offset-8" style="align-content: center; padding-right: 10px; padding-left: 10px;"
            data-bs-toggle="collapse" data-bs-target="#navbarsExample05" aria-controls="navbarsExample05"
            aria-expanded="ariaExpanded" aria-label="Toggle navigation">
            <app-logo-small-mobile></app-logo-small-mobile>
            
        </div> 
        <div *ngIf="isMobile">
            <app-icons-all-short-only-icons></app-icons-all-short-only-icons>
        </div>

        <!-- <a class="navbar-brand" href="#">Let's Go Travel</a> -->
        <button class="navbar-toggler" type="button"
         data-bs-toggle="collapse"
          data-bs-target="#navbarsExample05"
            aria-controls="navbarsExample05" aria-expanded="ariaExpanded" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse px-3
        col-xs-offset-4"
         id="navbarsExample05"
         
         >
        <!-- *ngIf="ngIfAriaExpanded" -->
            
            <ul class="navbar-nav me-auto mb-2 mb-lg-0  ">
                
                <li class="  nav-item px-2 py-2 active" (click)="toggleDisplayDiv()"
                data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
                    <!-- <a class="nav-link" aria-current="page" href="#">Home</a> -->
                    <app-home-menu></app-home-menu>
                    
                </li>
                <li class="nav-item px-2 py-2"  (click)="toggleDisplayDiv()" 
                 data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
                    <!-- <a class="nav-link" href="#">Link</a> -->
                    <app-offers-menu></app-offers-menu>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li> -->
                <li class="px-2 nav-item dropdown "   (click)="toggleDisplayDiv()"
                style="text-decoration: none; text-decoration-color: darkgray; color: darkgray;">
                    <a class="px-2 nav-link dropdown-toggle bg-dark" href="#" id="dropdown05" data-bs-toggle="dropdown"
                        aria-expanded="false">Despre noi</a>

                    <ul class="px-4 dropdown-menu dropdown-menu-lg bg-dark dropdown-menu-custom-width-from-css" 
                    data-bs-offset="5000"
                    data-bs-boundary="app_privacy_policy_footer_element"
                    aria-labelledby="dropdown05"
                    style=" text-decoration: none; text-decoration-color: darkgray; color: darkgray;">
                        <li class=" px-2">
                            <hr class="dropdown-divider">
                        </li>
                        <li class=" px-2 py-2"  (click)="toggleDisplayDiv()"
                        style="text-decoration: none; text-decoration-color: darkgray; color: darkgray;"
                         data-toggle="collapse"
                         data-bs-toggle="collapse"
                         data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
                            <app-about-us-footer></app-about-us-footer>
                        </li>
                        <li class=" px-2 py-2"  (click)="toggleDisplayDiv()"
                        style="text-decoration: none; text-decoration-color: darkgray; color: darkgray;"
                        data-bs-toggle="collapse"
                         data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
                            <app-reliable-company-footer></app-reliable-company-footer>
                        </li>
                        <li class=" px-2 py-2"  (click)="toggleDisplayDiv()"
                        style="text-decoration: none; text-decoration-color: darkgray; color: darkgray;"
                         data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
                            <app-terms-and-conditions-footer></app-terms-and-conditions-footer>
                        </li>
                        <li class=" px-2 py-2"  (click)="toggleDisplayDiv()"
                        style="text-decoration: none; text-decoration-color: darkgray; color: darkgray;"
                         data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
                            <app-framework-contract-footer></app-framework-contract-footer>
                        </li>
                        <li class=" px-2 py-2"  (click)="toggleDisplayDiv()"
                        style="text-decoration: none; text-decoration-color: darkgray; color: darkgray;"
                         data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
                            <app-privacy-policy-footer></app-privacy-policy-footer>
                        </li>
                        <li class=" px-2">
                            <hr class="dropdown-divider">
                        </li>
                        <li class=" px-2 py-2"  (click)="toggleDisplayDiv()"
                        style="text-decoration: none; text-decoration-color: darkgray; color: darkgray;"
                         data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
                            <app-our-accreditations-footer></app-our-accreditations-footer>
                        </li>   
                        <li class=" px-2">
                            <hr class="dropdown-divider">
                        </li>
                    </ul>
                </li>
                <li class="nav-item px-2 py-2" (click)="toggleDisplayDiv()"
                data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
                    <app-contact-menu></app-contact-menu>
                </li>
                <li class="nav-item px-3 py-2" (click)="toggleDisplayDiv()"
                data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
                    <app-phone-icon-and-text></app-phone-icon-and-text>
                </li>
                <li class="nav-item px-3 py-2" (click)="toggleDisplayDiv()"
                data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
                    <app-email-icon-and-text></app-email-icon-and-text>
                </li>
                <li class="nav-item px-3 py-2"  (click)="toggleDisplayDiv()" style="padding: 7px;"
                data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
                    <app-icons-shortcut-all-without-phone-and-email></app-icons-shortcut-all-without-phone-and-email>
                </li>
            </ul>
            <!-- <form>
                <input class="form-control px-2 py-2" type="text" placeholder="Search" aria-label="Search">
            </form> -->
        </div>
    </div>
</nav>