<!-- <div class="container-fluid">

</div> -->


<div  class="fixed-sn light-blue-skin">
        <!--Double navigation-->
        <!-- <header> -->
        
        <!-- separate navbar for desktop  -->
        <div>
            <div class="hidden-xs hidden-sm">
                <app-navbar-fixed></app-navbar-fixed>
                <div>
                </div>
        
        
                <!-- separate navbar for mobile  -->
                <div>
                    <!-- <div class="visible-xs visible-sm hidden-md hidden-lg"> -->
                    <div class="visible-xs visible-sm hidden-md hidden-lg">
                        <!-- <app-navbar-mobile></app-navbar-mobile> -->
                    </div>
                </div>
        
                <!-- </header> -->
                <!--/.Double navigation-->
</div>

