<div class="container">
    <br>


    <div>
        <h4>
            VREI SA NE INTREBI CEVA ?
        </h4>
        <br>
        <h5>
            Ne poti contacta aici
        </h5>
    </div>

    <br>
    <div>
        <small style="color: red;">
            Adresa
        </small>
        <p>
            <strong>
                Let’s Go Travel
            </strong>
        </p>
        <p>
            Str. Serbanescu Alexandru Cpt. Av., nr. 2, bloc 6/A,
            <br>
            sc. 1, ap. 1, Sector 1, Bucuresti, Romania
        </p>
    </div>

    <div>
        <small style="color: red;">
            Program Agentie Aviatiei – Exclusiv Online
        </small>
        <p>
            In Agentie doar pe baza de programare de luni pana sambata.
        </p>
    </div>

    <div>
        <small style="color: red;">
            Telefon mobil
        </small>
        <p>
            0747 548 548
        </p>
    </div>

    <div>
        <small style="color: red;">
            E-mail
        </small>
        <p>
            Folosind formularul de contact alaturat
        </p>
    </div>

    <div class="text-left py-3">
        <app-icons-all-short-only-icons></app-icons-all-short-only-icons>
    </div>

    <br>
</div>