<div id="main">
    <div class="container">
        <section id="primary" class="content-full-width">
            <div id="post-710" class="post-710 page type-page status-publish hentry">
                <div class="vc_row wpb_row vc_row-fluid ult-vc-hide-row vc_row-has-fill" data-rtl="false"
                    style="position: relative;" data-row-effect-mobile-disable="true">
                    <div class="upb_row_bg" data-bg-override="0"
                        style="background: rgb(255, 255, 255); min-width: 740px; left: 0px; width: 740px;"></div>
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <h2 style="font-size: 15px;text-align: left" class="vc_custom_heading">Let's Go
                                    Travel<br>
                                    Punct de lucru / Sediu social:<br>
                                    Str. Serbanescu Alexandru Cpt. Av., nr. 2, bloc 6/A,<br>
                                    sc. 1, ap. 1, Sector 1, Bucuresti, Romania<br>
                                    ⠀<br>
                                    Nr. Inreg. Reg. Comertului: J40/13349/2016<br>
                                    Licenta de turism: Nr. 843<br>
                                    Polita de asigurare: OMNIASIG, Nr. 50929,<br>
                                    valabila pana la data de 4.12.2020<br>
                                    C.U.I: RO36621742<br>
                                    Mobil: 0747.548.548<br>
                                    E-mail: contact@lgt.ro<br>
                                    Site: www.letsgotravel.ro<br>
                                    ⠀<br>
                                    Conturi bancare:<br>
                                    RON / EURO</h2>
                                <div id="1604914311383-b0deda1c-3bec" class="dt-sc-empty-space"></div>
                                <h3 style="font-size: 18px;text-align: center"
                                    class="vc_custom_heading section-title center-align">De ce inca o agentie de turism?
                                </h3>
                                <h2 style="font-size: 14px;text-align: justify" class="vc_custom_heading">• Cand am
                                    pornit proiectul Let’s go Travel am decis sa ne adresam in principal catre doua
                                    categorii de turisti:<br>
                                    ⠀<br>
                                    - Prima categorie este formata din cei care au renuntat sa foloseasca agentii de
                                    turism si petrec foarte mult timp explorand internetul pentru oferte, informatii sau
                                    hoteluri, iar in final aleg sa isi organizeze singuri vancatele – noul trend “Do it
                                    yourself”.<br>
                                    ⠀<br>
                                    - A doua categorie sunt cei care platesc prea mult pentru niste pachete standard si
                                    aleg hotelul pe baza pretului sau a review-urilor primite de la agentii de vanzari.
                                    Acestia de multe ori nu cunosc nimic despre destinatia pe care o vand si trimit
                                    turistii in Thailanda sau Bali in sezonul ploios, in loc sa recomande alte
                                    destinatii pentru perioada dorita.<br>
                                    ⠀<br>
                                    • Am scris mai jos cateva dintre erorile pe care le fac agentii de turism si
                                    turistii cand organizeaza vacantele si ce putem face noi suplimentar:<br>
                                    ⠀<br>
                                    - Alegerea destinatiei: Va recomandam sa alegeti destinatia in functie de ceea ce va
                                    doriti, nu in functie de buget sau ce este la moda. Am avut multi prieteni extrem de
                                    surprinsi ca pot pleca in Maldive, Bali sau Zanzibar cu bugetul unei vancate in
                                    Europa sau Turcia. Alt trend este sa iti alegi destinatia in functie de ofertele pe
                                    care le primesti sau ce este la moda. Sfatul nostru este sa discuti cu un agent de
                                    turism si sa alegi produsul care ti se potriveste cel mai bine.<br>
                                    ⠀<br>
                                    - Pretul: On-line este mai ieftin dar, nu de cele mai multe ori corect. Marii
                                    tour-operatori negociaza de foarte multe ori tarife mai mici cu hotelierii sau cu
                                    agentii de turism locali pentru ca se axeaza pe hoteluri care ofera servicii la o
                                    anumita calitate clientilor. Mesajul nostru este sa ne lansezi provocarea, ca pentru
                                    hotelul/pachetul ales on-line sa iti oferim o alternativa si consultanta pentru
                                    destinatia dorita, iar dupa comparare sa alegi cel mai bun pachet pentru nevoile
                                    tale.<br>
                                    ⠀<br>
                                    - Consultanta: Pentru ca vacanta este un moment mult asteptat si noi vindem visuri,
                                    trebuie sa ne asiguram ca totul decurge conform asteptarilor. Acest lucru presupune
                                    sa iti oferim toate informatiile relevante despre destinatie, hotel, mese,
                                    distractie, excursii optionale si sa personalizam pachetul turistic in functie de
                                    nevoile tale. Multe hoteluri sunt prezentate pe unele site-uri online mult mai bine
                                    decat este cazul, iar noi obtinem tot timpul informatii de la fata locului, de la
                                    partenerii nostri locali.<br>
                                    ⠀<br>
                                    - Super-oferte: Cu totii visam sa avem parte de vacante extraordinare la preturi
                                    foarte mici, dar de cele mai multe ori o sa avem experienta pentru care am platit.
                                    Nu ne intelegeti gresit! Agentia Let’s Go Travel ofera preturile corecte, dar
                                    misiunea noastra este sa oferim un pret corect pentru vacanta ta, in concordanta cu
                                    sezonul perfect pentru destinatia dorita. Din propria experienta iti spunem ca ai
                                    regreta cei 50 de euro economisiti si sa ajungi in paradis obosit, dupa o calatorie
                                    de 33 de ore sau sa platesti la 2 noaptea 100 de euro pe un taxi de la un aeroport
                                    low-cost aflat la 80 de kilometri de orasul pe care vrei sa il vizitezi. Fa-ne
                                    cunoscuta destinatia dorita si iti trimitem cele mai bune oferte personalizate!<br>
                                    ⠀<br>
                                    - Siguranta calatoriei: Cand ajungi intr-o destinatie indepartata, siguranta si
                                    disponibilitatea oferita de partenerii nostri locali iti pot asigura linistea de
                                    care ai nevoie. O vacanta reusita este una in care nu trebuie sa rezolvi probleme,
                                    faci asta suficient in timpul anului. Daca acestea apar trebuie doar sa ne dai un
                                    SMS, e-mail, telefon, mesaj pe whatsApp si ne ocupam noi. Cand trebuie sa discuti 4
                                    zile consecutive cu receptionistul hotelului si cu managerul lui pentru a rezolva o
                                    problema, intelegi ce bine este sa ai un agent de turism care sa te ajute.<br>
                                    ⠀<br>
                                    - Bilete de avion: Ai gasit o super oferta de bilete de avion? Verifica vrema catre
                                    destinatia respectiva! Nu ai vrea sa ajungi in Thailanda in sezonul ploios, chiar
                                    ploua cu galeata. Este extrem de simplu sa rezervi un bilet de avion online, dar
                                    sunt cateva riscuri pe care ti le asumi in cazul in care zborul intarzie sau este
                                    anulat. Noi ne ocupam de toate aspectele, de la rerutarea pe alta companie aeriana,
                                    pana la asigurarea de calatorie si asa poti fi sigur ca nu te vei afla in situatia
                                    de a pierde toti banii platiti pe o vacanta, in cazul in care apar evenimente
                                    neprevazute inaintea sau in timpul calatoriei. In plus la noi un pachet cu zbor si
                                    hotel poate fi mai ieftin decat daca achizitionezi singur, separat fiecare
                                    serviciu.<br>
                                    ⠀<br>
                                    Viseaza, Calatoreste, Povesteste...</h2>
                                <div id="1604919009007-17c1f714-f7e2" class="dt-sc-empty-space"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vc_row wpb_row vc_row-fluid ult-vc-hide-row vc_row-has-fill" data-rtl="false"
                    style="position: relative;" data-row-effect-mobile-disable="true"
                    data-img-parallax-mobile-disable="true">
                    <div class="upb_row_bg" data-bg-override="0"
                        style="background: rgb(255, 255, 255); min-width: 740px; left: 0px; width: 740px;"></div>
                    <div class="upb_row_bg vcpb-vz-jquery" data-upb_br_animation="" data-parallax_sense="30"
                        data-bg-override="0" data-bg-animation="left-animation" data-bg-animation-type="h"
                        data-animation-repeat="repeat"
                        style="background: 50% -257px rgb(255, 255, 255); min-width: 740px; left: 0px; width: 740px;">
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-3">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="wpb_single_image wpb_content_element vc_align_center">
                                    <h2 class="wpb_heading wpb_singleimage_heading">Licenta de turism ⠀⠀</h2>
                                    <figure class="wpb_wrapper vc_figure">
                                        <a href="https://letsgotravel.ro/wp-content/uploads/Licenta-724x1024.jpg"
                                            target="_blank" class="vc_single_image-wrapper   vc_box_border_grey"><img
                                                width="150" height="150"
                                                src="https://letsgotravel.ro/wp-content/uploads/Licenta-150x150.jpg"
                                                class="vc_single_image-img attachment-thumbnail" alt="" loading="lazy"
                                                srcset="https://letsgotravel.ro/wp-content/uploads/Licenta-150x150.jpg 150w, https://letsgotravel.ro/wp-content/uploads/Licenta-569x569.jpg 569w, https://letsgotravel.ro/wp-content/uploads/Licenta-420x420.jpg 420w, https://letsgotravel.ro/wp-content/uploads/Licenta-100x100.jpg 100w"
                                                sizes="(max-width: 150px) 100vw, 150px"></a>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-3">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="wpb_single_image wpb_content_element vc_align_center">
                                    <h2 class="wpb_heading wpb_singleimage_heading">Brevet de turism⠀⠀</h2>
                                    <figure class="wpb_wrapper vc_figure">
                                        <a href="https://letsgotravel.ro/wp-content/uploads/brevet_LGT.jpg"
                                            target="_blank" class="vc_single_image-wrapper   vc_box_border_grey"><img
                                                width="150" height="150"
                                                src="https://letsgotravel.ro/wp-content/uploads/brevet_LGT-150x150.jpg"
                                                class="vc_single_image-img attachment-thumbnail" alt="" loading="lazy"
                                                srcset="https://letsgotravel.ro/wp-content/uploads/brevet_LGT-150x150.jpg 150w, https://letsgotravel.ro/wp-content/uploads/brevet_LGT-420x420.jpg 420w, https://letsgotravel.ro/wp-content/uploads/brevet_LGT-100x100.jpg 100w"
                                                sizes="(max-width: 150px) 100vw, 150px"></a>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-3">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="wpb_single_image wpb_content_element vc_align_center">
                                    <h2 class="wpb_heading wpb_singleimage_heading">Polita de asigurare ⠀⠀</h2>
                                    <figure class="wpb_wrapper vc_figure">
                                        <a href="https://letsgotravel.ro/wp-content/uploads/OMNIASIG-INSOLVENTA-54623-TRAVE-INSURANCE-LGT-SRL-POLITA-2020-1-page-001-1-725x1024.jpg"
                                            target="_blank" class="vc_single_image-wrapper   vc_box_border_grey"><img
                                                width="150" height="150"
                                                src="https://letsgotravel.ro/wp-content/uploads/OMNIASIG-INSOLVENTA-54623-TRAVE-INSURANCE-LGT-SRL-POLITA-2020-1-page-001-1-150x150.jpg"
                                                class="vc_single_image-img attachment-thumbnail" alt="" loading="lazy"
                                                srcset="https://letsgotravel.ro/wp-content/uploads/OMNIASIG-INSOLVENTA-54623-TRAVE-INSURANCE-LGT-SRL-POLITA-2020-1-page-001-1-150x150.jpg 150w, https://letsgotravel.ro/wp-content/uploads/OMNIASIG-INSOLVENTA-54623-TRAVE-INSURANCE-LGT-SRL-POLITA-2020-1-page-001-1-569x569.jpg 569w, https://letsgotravel.ro/wp-content/uploads/OMNIASIG-INSOLVENTA-54623-TRAVE-INSURANCE-LGT-SRL-POLITA-2020-1-page-001-1-420x420.jpg 420w, https://letsgotravel.ro/wp-content/uploads/OMNIASIG-INSOLVENTA-54623-TRAVE-INSURANCE-LGT-SRL-POLITA-2020-1-page-001-1-100x100.jpg 100w"
                                                sizes="(max-width: 150px) 100vw, 150px"></a>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-3">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="wpb_single_image wpb_content_element vc_align_center">
                                    <h2 class="wpb_heading wpb_singleimage_heading">Certificat de inregistrare</h2>
                                    <figure class="wpb_wrapper vc_figure">
                                        <a href="https://letsgotravel.ro/wp-content/uploads/CUI_LGT.jpg" target="_blank"
                                            class="vc_single_image-wrapper   vc_box_border_grey"><img width="150"
                                                height="150"
                                                src="https://letsgotravel.ro/wp-content/uploads/CUI_LGT-150x150.jpg"
                                                class="vc_single_image-img attachment-thumbnail" alt="" loading="lazy"
                                                srcset="https://letsgotravel.ro/wp-content/uploads/CUI_LGT-150x150.jpg 150w, https://letsgotravel.ro/wp-content/uploads/CUI_LGT-569x569.jpg 569w, https://letsgotravel.ro/wp-content/uploads/CUI_LGT-420x420.jpg 420w, https://letsgotravel.ro/wp-content/uploads/CUI_LGT-100x100.jpg 100w"
                                                sizes="(max-width: 150px) 100vw, 150px"></a>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-vc-full-width="true" data-vc-full-width-init="true"
                    class="vc_row wpb_row vc_row-fluid dt-sc-dark-bg ult-vc-hide-row vc_row-has-fill"
                    style="position: relative; left: -28px; box-sizing: border-box; width: 796px; padding-left: 28px; padding-right: 28px;"
                    data-rtl="false" data-row-effect-mobile-disable="true" data-img-parallax-mobile-disable="true">
                    <div class="upb_row_bg vcpb-vz-jquery" data-upb_br_animation="" data-parallax_sense="30"
                        data-bg-override="0" data-bg-animation="left-animation" data-bg-animation-type="h"
                        data-animation-repeat="repeat"
                        style="background-size: cover; background-repeat: no-repeat; background-color: rgba(0, 0, 0, 0); background-image: url(&quot;https://letsgotravel.ro/wp-content/uploads/2014/07/paralax-bg4.jpg&quot;); background-attachment: scroll; min-width: 796px; left: 0px; width: 796px; background-position: 50% -245px;">
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper"></div>
                        </div>
                    </div>
                </div>
                <div class="vc_row-full-width vc_clearfix"></div>
            </div>
        </section>
    </div>
</div>