

<div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Despre noi
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">

                <li><a class="dropdown-item nav-link" 
                    [routerLink]="['/about-us']" href="#">Despre noi</a></li>

                <li><a class="dropdown-item nav-link" 
                    [routerLink]="['/reliable-company']" href="#">Firma de incredere</a></li>

                <li><a class="dropdown-item nav-link" 
                    [routerLink]="['/terms-and-conditions']" href="#">Termeni si conditii</a></li>

                <li><a class="dropdown-item nav-link" 
                    [routerLink]="['/framework-contract']" href="#">Contract cadru</a></li>

                <li><a class="dropdown-item nav-link" 
                    [routerLink]="['/privacy-policy']" href="#">Politica de confidentialitate</a></li>

            </ul>
        </li>
    </ul>
</div>