<!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx2">
    <li class="">
        <a class="nav-link active" aria-current="page" routerLink="/offers" routerLinkActive="offers"
            style="text-decoration: none; text-decoration-color: darkgray; color: darkgray;" href="#">
            <i class="menu-item-icon fas fa-umbrella-beach" style="padding-right: 3px;" aria-hidden="true">
            </i>
            Oferte
        </a>
    </li>
</ul> -->

<!-- <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
    <ul class="navbar-nav">
        <li class="nav-item dropdown"> -->

<!-- <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
    
</div> -->

<!-- nav-link -->
<div
    style="text-decoration: none; text-decoration-color: darkgray; color: darkgray;
                         padding-left: 7px; padding-right: 7px;"
>
    <a class=" dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown"
        aria-expanded="false" style="text-decoration: none; text-decoration-color: darkgray; color: darkgray;">
        <i class="menu-item-icon fas fa-atlas" style="padding-right: 5px;"></i>
        Despre noi
    </a>
    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
    
        <li>
            <a class="dropdown-item nav-link" [routerLink]="['/about-us']" href="#">
                Despre noi
            </a>
        </li>
    
        <li>
            <a class="dropdown-item nav-link" [routerLink]="['/reliable-company']" href="#">
                Firma de incredere
            </a>
        </li>
    
        <li>
            <a class="dropdown-item nav-link" [routerLink]="['/terms-and-conditions']" href="#">
                Termeni si conditii
            </a>
        </li>
    
        <li>
            <a class="dropdown-item nav-link" [routerLink]="['/framework-contract']" href="#">
                Contract cadru
            </a>
        </li>
    
        <li>
            <a class="dropdown-item nav-link" [routerLink]="['/privacy-policy']" href="#">
                Politica de confidentialitate
            </a>
        </li>
    
        <li>
            <hr class="dropdown-divider">
        </li>
    
        <li>
            <a class="dropdown-item nav-link" [routerLink]="['/our-accreditations']" href="#">
                Acreditarile noastre
            </a>
        </li>
    
        <!-- <li>
            <a class="dropdown-item nav-link" [routerLink]="['/payment-methods']" href="#">
                Modalitati de plata
            </a>
        </li> -->
    </ul>
</div>


<!-- navbar-nav -->
<!-- <ul class=" nav-item me-auto mb-2 mb-lg-0 mx2" style="padding: 5px;">
    <li class="nav-item dropdown  mx2" style="padding: 5px;">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <i class="menu-item-icon fas fa-atlas" style="padding-right: 3px;"></i> Despre noi
        </a>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">

            <li>
                <a class="dropdown-item nav-link" routerLink="/about-us" href="#">
                    Despre noi
                </a>
            </li>

            <li>
                <a class="dropdown-item nav-link" routerLink="/reliable-company'" href="#">
                    Firma de incredere
                </a>
            </li>

            <li>
                <a class="dropdown-item nav-link" [routerLink]="['/terms-and-conditions']" href="#">
                    Termeni si conditii
                </a>
            </li>

            <li>
                <a class="dropdown-item nav-link" [routerLink]="['/framework-contract']" href="#">
                    Contract cadru
                </a>
            </li>

            <li>
                <a class="dropdown-item nav-link" [routerLink]="['/privacy-policy']" href="#">
                    Politica de confidentialitate
                </a>
            </li>

            <li>
                <hr class="dropdown-divider">
            </li>

            <li>
                <a class="dropdown-item nav-link" [routerLink]="['/our-accreditations']" href="#">
                    Acreditarile noastre
                </a>
            </li>

            <li>
                <a class="dropdown-item nav-link" [routerLink]="['/payment-methods']" href="#">
                    Modalitati de plata
                </a>
            </li>

        </ul>
    </li>
</ul> -->