<br>
<br>

<div class="container">
    <div class="row">
        <h3>Polita de asigurare</h3>
    </div>
</div>

<div class="container">
    <nav aria-label="breadcrumb" style="padding: 10px; margin: auto;">
        <ol class="breadcrumb">

            <li class="breadcrumb-item">
                <a class="" aria-current="page" routerLink="/home" href="#" style="text-decoration: none;">
                    <i class="menu-item-icon fas fa-globe-europe" style="padding-right: 3px; text-decoration: none;"
                        aria-hidden="true">
                    </i>
                    Home
                </a>
            </li>

            <li class="breadcrumb-item">
                <a class="" aria-current="page" routerLink="/our-accreditations" href="#"
                    style="text-decoration: none;">
                    Acreditarile noastre
                </a>
            </li>

            <li class="breadcrumb-item active" aria-current="page">
                Polita de asigurare
            </li>

        </ol>
    </nav>
</div>



<br>

<div class="container">

    <div class="row row-cols-1 row-cols-md-1 g-4">

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <!-- <h5 class="card-title">Polita de asigurare</h5> -->
                    <!-- <p class="card-text">This is text</p> -->
                </div>
                <a class="" aria-current="page" routerLink="/insurance-policy" href="#" style="text-decoration: none;">
                    <img src="assets\lgt\images\accreditations\OMNIASIG-INSOLVENTA-54623-TRAVE-INSURANCE-LGT-SRL-POLITA-2020-1-page-001-1-725x1024.jpg"
                        class="card-img-top" alt="Polita de asigurare">
                </a>
            </div>
        </div>

    </div>

    <br>
    <br>

</div>

<!-- Datele fiscale -->
<app-social-and-fiscal-information></app-social-and-fiscal-information>
<br>
<br>