<!-- app-navbar-fixed -->
<div class="container-fluid">
    <app-navbar-fixed-line1></app-navbar-fixed-line1>
</div>



<!-- <p>navbar-fixed works!</p> -->



    <!-- Navbar
    <nav class="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav">
        SideNav slide-out button
    
        <div class="float-left">
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>
        </div>
    
    
        <div>
            <app-navbar-fixed-line1></app-navbar-fixed-line1>
        </div>
    
    </nav> -->
    <!-- /.Navbar -->



<!-- <div>
    <div>
        <app-navbar-fixed-logo></app-navbar-fixed-logo>
    </div>
    <div>
        <app-navbar-fixed-line1></app-navbar-fixed-line1>
    </div>
    <div>
        <app-navbar-fixed-line2></app-navbar-fixed-line2>
    </div>
    <div>
        <app-navbar-fixed-line3></app-navbar-fixed-line3>
    </div>
    <div>
        <app-navbar-fixed-line-admin></app-navbar-fixed-line-admin>
    </div>
    <div>
        <app-navbar-fixed-line-super-admin></app-navbar-fixed-line-super-admin>
    </div>
</div> -->