<!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx4">

 
    
</ul> -->

<!-- <li class="nav-item mx4" style="padding-left: 10px; padding-right: 10px;">
    
</li> -->
<!-- 
<ul class=" nav-item me-auto mb-2 mb-lg-0 mx2" style="padding: 5px;">
    <li class="nav-item mx2" style="padding: 5px;">
        
    </li>
</ul> -->

<!-- <ul class=" nav-item me-auto mb-2 mb-lg-0 mx2" style="padding: 5px;">
    <li class="nav-item mx2" style="padding: 5px;">
        <a class="nav-link active" aria-current="page" routerLink="/contact" routerLinkActive="contact"
            style="text-decoration: none; text-decoration-color: darkgray; color: darkgray;" href="#">
            <i class="menu-item-icon fas fa-address-card" style="padding-right: 3px;" aria-hidden="true">
            </i>
            Contact
        </a>
    </li>
</ul> -->

<!-- <a class="nav-link active" 
    style="text-decoration: none; text-decoration-color: darkgray; color: darkgray;" href="#">
    <i class="">
    </i>
    
</a> -->

<a class="mr-2" aria-current="page" routerLink="/contact" routerLinkActive="contact"
    style="padding: 7px; text-decoration: none; text-decoration-color: darkgray; color: darkgray;">
    <i class="menu-item-icon fas fa-address-card" style="padding-right: 3px;" aria-hidden="true"></i>
    <span style="text-decoration: none; text-decoration-color: darkgray; color: darkgray; padding-left: 3px;">
        Contact
    </span>
</a>

<!-- <ul class=" nav-item me-auto mb-2 mb-lg-0 mx2" style="padding: 5px;">
    <li class="nav-item mx2" style="padding: 5px;">
        <a class="nav-link active" aria-current="page" routerLink="/offers" routerLinkActive="/offers"
            style="text-decoration: none; text-decoration-color: darkgray; color: darkgray;" href="#">
            <i class="menu-item-icon fas fa-umbrella-beach" style="padding-right: 3px;" aria-hidden="true">
            </i>
            Oferte
        </a>
    </li>
</ul> -->


<!-- 
<a class="fb-ic mr-4" href="tel:+40747548548"
    style="text-decoration: none; text-decoration-color: darkgray; color: darkgray;">
    <i class="fa fa-phone" aria-hidden="true">
        <span style="text-decoration: none; text-decoration-color: darkgray; color: darkgray;
         padding-left: 3px;">
            0747 548 548
        </span>
    </i>
</a> -->