<ul class="navbar-nav me-auto mb-2 mb-lg-0 mx4">

    <!-- <a class="nav-link" href="#" data-toggle="sidenav" data-target="#sidenav-1"
                        aria-controls="#sidenav-1" aria-haspopup="true"> -->

    <li class="nav-item mx4" style="padding-left: 10px; padding-right: 10px;">
        <a class="nav-link active" aria-current="page" routerLink="/contact-view" routerLinkActive="contact-view"
            style="text-decoration: none; text-decoration-color: darkgray; color: darkgray;" href="#">
            <i class="menu-item-icon fas fa-address-card" style="padding-right: 3px;" aria-hidden="true">
            </i>
            Contact LGT
        </a>
    </li>
</ul>