<div class="container" style="padding-top: 20px; padding-bottom: 20px;">

    <div *ngIf="offers" class="row row-cols-1 row-cols-md-3 g-4">


        <!-- <div *ngFor="let offer of offers; index as i" class="col">

            <div class="card">
                <img [src]={{offer.src}} class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{offers[i+1].src}}</h5>
                    <p class="card-text">{{item}}</p>
                </div>
            </div>

        </div> -->


        <div class="col">
            <div class="card">
                <img src="assets\lgt\offers\1000000001\image-first\img.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Vreau csv-ul :)</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                        content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="assets\lgt\offers\1000000001\image-first\img.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Vreau csv-ul :)</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                        content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="assets\lgt\offers\1000000001\image-first\img.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Vreau csv-ul :)</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                        content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="assets\lgt\offers\1000000001\image-first\img.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Vreau csv-ul :)</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                        content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="assets\lgt\offers\1000000001\image-first\img.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Vreau csv-ul :)</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                        content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>


        <div class="col">
            <div class="card">
                <img src="assets\lgt\offers\1000000001\image-first\img.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Vreau csv-ul :)</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                        content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>


        <div class="col">
            <div class="card">
                <img src="assets\lgt\offers\1000000001\image-first\img.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Vreau csv-ul :)</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                        content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>


        <div class="col">
            <div class="card">
                <img src="assets\lgt\offers\1000000001\image-first\img.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Vreau csv-ul :)</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                        content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>


        <div class="col">
            <div class="card">
                <img src="assets\lgt\offers\1000000001\image-first\img.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Vreau csv-ul :)</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                        content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        



    </div>
</div>