<div class="container py-2 my-2 mx-2 px-2">

    <table class="table table-bordered table-inverse">

        <tr>
            <th class="text-right">Id</th>
            <th>link</th>
            <th>Country</th>
            <th>District</th>
            <th>District zone</th>
            <th>City</th>
            <th>City zone</th>
            <th>Hotel name</th>
            <th class="text-right">Stars</th>
            <th>Service type</th>
            <th>Plane tickets</th>
            <th></th>
        </tr>

        <tr *ngFor="let offer of offers">
            <td>{{offer.id}}</td>
            <td>
                <a href="{{offer.originalLgtUrl}}" target="_blank">
                    lgturl
                </a>
            </td>
            <td>{{offer.destinationCountry}}</td>
            <td>{{offer.destinationDistrict}}</td>
            <td>{{offer.destinationDistrictZone}}</td>
            <td>{{offer.destinationCity}}</td>
            <td>{{offer.destinationCityZone}}</td>
            <td>
                <a [routerLink]="[ '/manager-offers', offer.id ]" routerLinkActive="active">
                    {{offer.destinationHotelName}}
                </a>
            </td>
            <td>{{offer.destinationHotelStars}}</td>
            <td>{{offer.destinationHotelServicesType}}</td>
            <td>{{offer.includedServicesPlaneTickets}}</td>
            <td>
                <button 
                class="btn btn-primary"
                [routerLink]="['/manager-offers', offer.id ,'/edit']">
                    Edit
                </button>
            </td>
        </tr>

    </table>

</div>