<!-- Default dropend button -->
<div class="btn-group dropend">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Dropright
    </button>
    <ul class="dropdown-menu">
        <!-- Dropdown menu links -->
        <li><a class="dropdown-item active" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
</div>



<!-- 
<li class="nav-item mx4" style="padding-left: 10px; padding-right: 10px;">
    <a class="nav-link" routerLink="/offers" routerLinkActive="offers" href="#">
        <i class="menu-item-icon fas fa-umbrella-beach" style="padding-right: 3px;"></i> Oferte</a>
</li>



<div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                <i class="menu-item-icon fas fa-atlas" style="padding-right: 3px;"></i> Despre noi
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">

                <li>
                    <a class="dropdown-item nav-link" [routerLink]="['/view-about-us']" href="#">
                        Despre noi
                    </a>
                </li>

                <li>
                    <a class="dropdown-item nav-link" [routerLink]="['/view-reliable-company']" href="#">
                        Firma de incredere
                    </a>
                </li>

                <li>
                    <a class="dropdown-item nav-link" [routerLink]="['/view-terms-and-conditions']" href="#">
                        Termeni si conditii
                    </a>
                </li>

                <li>
                    <a class="dropdown-item nav-link" [routerLink]="['/view-framework-contract']" href="#">
                        Contract cadru
                    </a>
                </li>

                <li>
                    <a class="dropdown-item nav-link" [routerLink]="['/view-privacy-policy']" href="#">
                        Politica de confidentialitate
                    </a>
                </li>

                <li>
                    <hr class="dropdown-divider">
                </li>

                <li>
                    <a class="dropdown-item nav-link" [routerLink]="['/view-our-accreditations']" href="#">
                        Acreditarile noastre
                    </a>
                </li>

                <li>
                    <a class="dropdown-item nav-link" [routerLink]="['/view-payment-methods']" href="#">
                        Modalitati de plata
                    </a>
                </li>

            </ul>
        </li>
    </ul>
</div> -->