<div class="container py-4 my-4">

    <div>

        <div class="form-group">
            <label>Offer ID</label>
            <div class="form-control">{{offer.id}}</div>
        </div>

        <div class="form-group">
            <label>Link</label>
            <div class="form-control">{{offer.originalLgtUrl}}</div>
        </div>

        <div class="form-group">
            <label>Country</label>
            <div class="form-control">{{offer.destinationCountry}}</div>
        </div>

        <div class="form-group">
            <label>District</label>
            <div class="form-control">{{offer.destinationDistrict}}</div>
        </div>

        <div class="form-group">
            <label>District zone</label>
            <div class="form-control">{{offer.destinationDistrictZone}}</div>
        </div>

        <div class="form-group">
            <label>City</label>
            <div class="form-control">{{offer.destinationCity}}</div>
        </div>

        <div class="form-group">
            <label>City zone</label>
            <div class="form-control">{{offer.destinationCityZone}}</div>
        </div>

        <div class="form-group">
            <label>Hotel name</label>
            <div class="form-control">{{offer.destinationHotelName}}</div>
        </div>

        <div class="form-group">
            <label>Stars</label>
            <div class="form-control">{{offer.destinationHotelStars}}</div>
        </div>

        <div class="form-group">
            <label>Service type</label>
            <div class="form-control">{{offer.destinationHotelServicesType}}</div>
        </div>

        <div class="form-group">
            <label>Plane tickets</label>
            <div class="form-control">{{offer.includedServicesPlaneTickets}}</div>
        </div>

    </div>

</div>
