<!-- <div class="container-fluid"> -->
<div class="container-fluid">
    <div>

        <!-- <a class="navbar-brand" href="#">Navbar w/ text</a> -->

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <!-- navbar-nav flex-row -->
        <div class="collapse navbar-collapse navbar-nav flex-row" id="navbarText">

            <app-menu-home></app-menu-home>



            <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx4">

                <!-- <li class="nav-item mx4" style="padding-left: 10px; padding-right: 10px;">
                    <a class="nav-link" href="#" data-toggle="sidenav" data-target="#sidenav-1"
                        aria-controls="#sidenav-1" aria-haspopup="true">
                        <i class="fas fa-bars mr-1"></i>
                    </a>
                </li> -->

                <!-- <li class="nav-item mx4" style="padding-left: 10px; padding-right: 10px;">
                    <a class="nav-link active" aria-current="page" routerLink="/home" routerLinkActive="home"
                        href="#">
                        <i class="menu-item-icon fas fa-globe-europe" style="padding-right: 3px;" aria-hidden="true"></i>
                         Home</a>
                </li> -->




                <!-- <li class="nav-item dropdown">
                    <a class="nav-link" href="#"></a>
                    <app-navbar-fixed-line1-dropdown1></app-navbar-fixed-line1-dropdown1>
                </li> -->


                 <!-- <app-menu-dropdown></app-menu-dropdown> -->

                 <app-menu-contact></app-menu-contact>

                <!-- <li class="nav-item">
                    <a class="nav-link"
                    routerLink="/admin" routerLinkActive="admin">Admin</a>
                </li> -->

                <!-- <li class="nav-item">
                    <a class="nav-link"
                    routerLink="/super-admin" routerLinkActive="super-admin">Super Admin</a>
                </li> -->

            </ul>

        </div>
    </div>
</div>
