<!-- app-menu-about-us -->
<br>
<br>

<div class="container">
    <div class="row">
        <h3>Despre noi</h3>
    </div>
</div>

<div class="container">
    <nav aria-label="breadcrumb" style="padding: 10px; margin: auto;">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a class="" aria-current="page" routerLink="/home" href="#" style="text-decoration: none;">
                    <i class="menu-item-icon fas fa-globe-europe" style="padding-right: 3px; text-decoration: none;"
                        aria-hidden="true">
                    </i>
                    Home
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Despre noi
            </li>
        </ol>
    </nav>
</div>




<div class="container">
    <br>
    <h3 style="text-align: center;">
        DE CE INCA O AGENTIE DE TURISM?
    </h3>
    <br>

    <div class="accordion" id="accordionExample">

        <div class="accordion-item" (click)="scrollToTopOfThisElement()">
            <h2 class="accordion-header" id="heading1">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1"
                    aria-expanded="true" aria-controls="collapse1">
                    Doua categorii
                </button>
            </h2>
            <div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="heading1"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>Cand am pornit proiectul Let’s go Travel am decis</strong> sa ne adresam in principal catre
                    doua categorii de turisti:
                    <br><br>
                    <ul>
                        <li>
                            Prima categorie este formata din cei care au renuntat sa foloseasca agentii de turism si
                            petrec foarte mult timp
                            explorand internetul pentru oferte, informatii sau hoteluri, iar in final aleg sa isi
                            organizeze singuri vancatele –
                            noul trend “Do it yourself”.
                        </li>
                        <br>
                        <li>
                            A doua categorie sunt cei care platesc prea mult pentru niste pachete standard si aleg
                            hotelul pe baza pretului sau a
                            review-urilor primite de la agentii de vanzari. Acestia de multe ori nu cunosc nimic despre
                            destinatia pe care o vand si
                            trimit turistii in Thailanda sau Bali in sezonul ploios, in loc sa recomande alte destinatii
                            pentru perioada dorita.
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-item" (click)="scrollToTopOfThisElement()">
            <h2 class="accordion-header" id="heading2">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3"
                    aria-expanded="true" aria-controls="collapse3">
                    Am scris mai jos cateva dintre erorile pe care le fac agentii de turism si turistii cand organizeaza
                    vacantele si ce
                    putem face noi suplimentar:
                </button>
            </h2>
        </div>

        <div class="accordion-item" (click)="scrollToTopOfThisElement()">
            <h2 class="accordion-header" id="heading3">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                    Alegerea destinatiei
                </button>
            </h2>
            <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>Va recomandam sa alegeti destinatia in functie de ceea ce va doriti</strong>, nu in functie
                    de buget sau ce
                    este la moda. Am avut multi prieteni extrem de surprinsi ca pot pleca in Maldive, Bali sau Zanzibar
                    cu bugetul unei
                    vancate in Europa sau Turcia. Alt trend este sa iti alegi destinatia in functie de ofertele pe care
                    le primesti sau ce
                    este la moda. Sfatul nostru este sa discuti cu un agent de turism si sa alegi produsul care ti se
                    potriveste cel mai
                    bine.
                </div>
            </div>
        </div>

        <div class="accordion-item" (click)="scrollToTopOfThisElement()">
            <h2 class="accordion-header" id="heading4">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                    Pretul
                </button>
            </h2>
            <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>On-line este mai ieftin dar</strong>, nu de cele mai multe ori corect. Marii tour-operatori
                    negociaza de foarte
                    multe ori
                    tarife mai mici cu hotelierii sau cu agentii de turism locali pentru ca se axeaza pe hoteluri care
                    ofera servicii la o
                    anumita calitate clientilor. Mesajul nostru este sa ne lansezi provocarea, ca pentru
                    hotelul/pachetul ales on-line sa
                    iti oferim o alternativa si consultanta pentru destinatia dorita, iar dupa comparare sa alegi cel
                    mai bun pachet pentru
                    nevoile tale.
                </div>
            </div>
        </div>

        <div class="accordion-item" (click)="scrollToTopOfThisElement()">
            <h2 class="accordion-header" id="heading5">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                    Consultanta
                </button>
            </h2>
            <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>Pentru ca vacanta este un moment mult asteptat</strong> si noi vindem visuri, trebuie sa ne
                    asiguram ca totul decurge conform asteptarilor. Acest lucru presupune sa iti oferim
                    toate informatiile relevante despre destinatie, hotel, mese, distractie, excursii optionale si sa
                    personalizam pachetul
                    turistic in functie de nevoile tale. Multe hoteluri sunt prezentate pe unele site-uri online mult
                    mai bine decat este
                    cazul, iar noi obtinem tot timpul informatii de la fata locului, de la partenerii nostri locali.
                </div>
            </div>
        </div>

        <div class="accordion-item" (click)="scrollToTopOfThisElement()">
            <h2 class="accordion-header" id="heading6">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                    Super-oferte
                </button>
            </h2>
            <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>Cu totii visam sa avem parte de vacante extraordinare</strong> la preturi foarte mici, dar
                    de cele mai multe ori o sa avem experienta pentru care am platit. Nu ne intelegeti gresit!
                    Agentia Let’s Go Travel ofera preturile corecte, dar misiunea noastra este sa oferim un pret corect
                    pentru vacanta ta,
                    in concordanta cu sezonul perfect pentru destinatia dorita. Din propria experienta iti spunem ca ai
                    regreta cei 50 de
                    euro economisiti si sa ajungi in paradis obosit, dupa o calatorie de 33 de ore sau sa platesti la 2
                    noaptea 100 de euro
                    pe un taxi de la un aeroport low-cost aflat la 80 de kilometri de orasul pe care vrei sa il
                    vizitezi. Fa-ne cunoscuta
                    destinatia dorita si iti trimitem cele mai bune oferte personalizate!
                </div>
            </div>
        </div>

        <div class="accordion-item" (click)="scrollToTopOfThisElement()">
            <h2 class="accordion-header" id="heading7">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                    Siguranta calatoriei
                </button>
            </h2>
            <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>Cand ajungi intr-o destinatie indepartata</strong>, siguranta si disponibilitatea oferita de
                    partenerii nostri locali iti pot asigura linistea de care ai nevoie. O
                    vacanta reusita este una in care nu trebuie sa rezolvi probleme, faci asta suficient in timpul
                    anului. Daca acestea apar
                    trebuie doar sa ne dai un SMS, e-mail, telefon, mesaj pe whatsApp si ne ocupam noi. Cand trebuie sa
                    discuti 4 zile
                    consecutive cu receptionistul hotelului si cu managerul lui pentru a rezolva o problema, intelegi ce
                    bine este sa ai un
                    agent de turism care sa te ajute.
                </div>
            </div>
        </div>

        <div class="accordion-item" (click)="scrollToTopOfThisElement()">
            <h2 class="accordion-header" id="heading8">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                    Bilete de avion
                </button>
            </h2>
            <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="heading8"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>Ai gasit o super oferta de bilete de avion?</strong> Verifica vrema catre destinatia
                    respectiva! Nu ai vrea sa ajungi in Thailanda in sezonul ploios, chiar ploua cu galeata.
                    Este extrem de simplu sa rezervi un bilet de avion online, dar sunt cateva riscuri pe care ti le
                    asumi in cazul in care
                    zborul intarzie sau este anulat. Noi ne ocupam de toate aspectele, de la rerutarea pe alta companie
                    aeriana, pana la
                    asigurarea de calatorie si asa poti fi sigur ca nu te vei afla in situatia de a pierde toti banii
                    platiti pe o vacanta,
                    in cazul in care apar evenimente neprevazute inaintea sau in timpul calatoriei. In plus la noi un
                    pachet cu zbor si
                    hotel poate fi mai ieftin decat daca achizitionezi singur, separat fiecare serviciu.
                </div>
            </div>
        </div>

        <div class="accordion-item" (click)="scrollToTopOfThisElement()">
            <h2 class="accordion-header" id="heading9">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                    Viseaza, Calatoreste, Povesteste...
                </button>
            </h2>
            <div id="collapse9" class="accordion-collapse collapse" aria-labelledby="heading9"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>Exploreaza
                        <a class="nav-link" routerLink="/offers" routerLinkActive="offers" href="#">
                            <i class="menu-item-icon fas fa-umbrella-beach" style="padding-right: 3px;"></i> ofertele
                        </a>
                        noastre</strong> si vezi ce ti se potriveste.
                    <br><br>
                    Sau cere o oferta personalizata <strong>aici</strong>.
                    <br><br>
                </div>
            </div>
        </div>

    </div>

    <br>
    <br>
    <br>

</div>

<div class="container">

    <h3 style="text-align: center;">
        <a class="dropdown-item nav-link" [routerLink]="['/view-our-accreditations']" href="#">
            ACREDITARILE <span> </span> NOASTRE
        </a>
    </h3>

    <br>
    <br>


    <div class="row row-cols-1 row-cols-md-3 g-4">

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Licenta de turism</h5>
                    <!-- <p class="card-text">This is text</p> -->
                </div>
                <a class="" aria-current="page" routerLink="/tourism-license" href="#" style="text-decoration: none;">
                    <img src="assets\lgt\images\accreditations\Licenta-724x1024.jpg" class="card-img-top"
                        alt="Licenta de turism">
                </a>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Brevet de turism</h5>
                    <!-- <p class="card-text">This is text</p> -->
                </div>
                <a class="" aria-current="page" routerLink="/tourism-patent" href="#" style="text-decoration: none;">
                    <img src="assets\lgt\images\accreditations\brevet_LGT.jpg" class="card-img-top"
                        alt="Brevet de turism">
                </a>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Polita de asigurare</h5>
                    <!-- <p class="card-text">This is text</p> -->
                </div>
                <a class="" aria-current="page" routerLink="/insurance-policy" href="#" style="text-decoration: none;">
                    <img src="assets\lgt\images\accreditations\OMNIASIG-INSOLVENTA-54623-TRAVE-INSURANCE-LGT-SRL-POLITA-2020-1-page-001-1-725x1024.jpg"
                        class="card-img-top" alt="Polita de asigurare">
                </a>
            </div>
        </div>

    </div>

    <br>
    <br>

    <div class="row row-cols-1 row-cols-md-1 g-4">

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Certificat de inregistrare</h5>
                    <!-- <p class="card-text">This is text</p> -->
                </div>
                <a class="" aria-current="page" routerLink="/tax-registration-certificate" href="#"
                    style="text-decoration: none;">
                    <img src="assets\lgt\images\accreditations\CUI_LGT.jpg" class="card-img-top"
                        alt="Certificat de inregistrare">
                </a>
            </div>
        </div>

    </div>

    <br>
    <br>

</div>

<!-- Datele fiscale -->
<app-social-and-fiscal-information></app-social-and-fiscal-information>
<br>
<br>