

<div class="container py-4 my-4">

    <form [formGroup]="itemForm"  (ngSubmit)="submitForm()">

        <div class="form-group">
            <label for="id">
                <span>Id</span>
                <span [ngStyle]="!itemForm.valid && {'color': 'red'}"  >&nbsp;*</span>
            </label>
            <input class="form-control" name="id" id="id" type="text" formControlName="id"
            [attr.disabled]="true"
            >
        </div>
        
        <div class="form-group">
            <label for="name">
                <span>Name</span>
                <span [ngStyle]="!itemForm.valid && {'color': 'red'}">&nbsp;*</span>
            </label>
            <input class="form-control" name="name" id="name" type="text" formControlName="name"
            >
        </div>
        
        <div class="form-group">
            <label for="description">
                <span>Description</span>
                <span [ngStyle]="!itemForm.valid && {'color': 'red'}">&nbsp;*</span>
            </label>
            <input class="form-control" name="description" id="description" type="text" formControlName="description"
            >
        </div>

        <button type="submit" class="btn btn-outline-secondary px-4 mx-4 py-2 my-2" 
        [disabled]="!itemForm.valid">Save changes</button>
        
        <button type="button" class="btn btn-outline-secondary px-4 mx-4 py-2 my-2"
        (click)="refreshItemForm()">Initial form</button>

        <button type="button" class="btn btn-outline-secondary px-4 mx-4 py-2 my-2" 
        (click)="clearItemForm()">Clear form</button>

    </form>

</div>